p {
	@apply my-4;
}

figcaption p, figcaption h4 {
	@apply m-0;
}

figcaption {
	@apply mt-1;
	@apply mb-4;
}

div.gallery {
	display: flex;
	flex-direction: row;
}

div.gallery figure {
	margin: 8px;
	text-align: center;
}

figcaption h4 {
	font-weight: bold;
}

.fade {
	opacity: 50%;
}
